@import "./resume.scss";

.body-content-wrapper {
  min-width: 880px; // Slightly larger...
}

.resume-copies {
  margin-top: 10px;
}

.resume-divider {
  margin: 30px 0;
  opacity: 0.15;
}

.resume {
  h1.name{
    margin-right: 6rem;
    margin-top: 0.25rem;
    font-size: 1.25rem;
  }

  .resume-header table{
    margin-top: 0.25rem;
    font-size: 0.90rem; 
  }

  .resume-header, .resume-body {
    max-width: inherit;
  }
   
  .resume-body article > header.category {
    line-height: 1.2em;
  }
}
