.resume {
  font-size: 80%;
  font-family: Verdana, Geneva, sans-serif;

  h2, h3, h4, header{
    font-size: 0.95rem;
  }

  .resume-header {
    display: inline-block;
    margin-bottom: 1.5rem;

    .contact-type {
      font-weight: 500;
    }

    table{
      table-layout: fixed;
      float: right;
      margin-top: 0.33rem;
      font-size: 0.95rem;

      td {
        text-align: left;
      }

      td.contact-type {
        text-align: right;
        padding-right: 10px;
      }
    }
  }

  h1.name{
    float: left;
    margin-right: 4.5rem;
    margin-top: 0;
    font-size: 3rem;
  }

  .resume-header, .resume-body {
    min-width: 50rem;
    max-width: 70rem;
    width: 100%;
  }

  .resume-body article:after { // Beacuse the category floats...
    content: "";
    display: block;
    float: none;
    clear: both;
  }

  .resume-body article > header.category {
    float: left;
    width: 10rem;
    margin: 0;
    margin-right: 2rem;
    line-height: 1.4;
    font-weight: 900;
  }

  .resume-body .article-body {
    overflow: hidden;
    margin-bottom: 0.25rem;
  }
  .resume-body .article-body section {
    margin-bottom: 1rem
  }

  .resume-body header.position {
    width: 100%;
    line-height: 1.4;
    margin-bottom: 0.33rem;

    .header-main {
      float: left;
    }

    &:after { // Beacuse the meta floats...
      content: "";
      display: block;
      float: none;
      clear: both;
    }
  }

  .resume-body header.position h3, .resume-body header.position span {
    font-weight: bold;
    padding: 0; margin: 0;
    line-height: 1.4;
  }
  .resume-body header.position .item-header span, .resume-body header.position .role{
    font-style: italic;
  }

  .resume-body .header-meta {
    float: right;
    max-width: 15rem;
    margin-left: 1rem;

    .position-location {
      font-style: italic;
    }
  }

  .resume-body section .details {
    // text-indent: 0.666rem;
    padding: 0 1.5rem 0 2.3rem;
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
  }
  .resume-body section .details li {
      margin: 0.65rem 0 1rem -1rem;
      padding: 0;
      list-style-position: inside;
  }
}
