<section class="site-details">
  <h2 class="me-head">Dylan Robinson</h2>
  <h5 class="sub-head">Software Developer</h5>
  
  {{ site-links page }}
  <div class="elsewhere">
    <h5> Find my contributions at: </h5>
    <a class="icon stackoverflow" href="http://stackoverflow.com/users/624590/drobinson" ><i></i></a>
    <a class="icon github" href="http://www.github.com/Robinson7D" ><i></i></a>

    <!-- <h5> Contact me at: <a class="contact"> ... email goes here? ... </a> </h5> -->
  </div>
</section>
