<div class="resume-header"> 
  <h1 class="name"> Dylan Robinson </h1>
  <table>
    <tbody><tr>
      <td>
        22 Laidlaw St. Apt 1225
      </td>
      <td>
        Email: <a href="mailto:dylan@dylancodes.net">dylan@dylancodes.net</a>
      </td>
    </tr>
    <tr>
      <td>
        Toronto, ON
      </td>
      <td>
        <a href="http://www.dylancodes.net">http://www.dylancodes.net</a>
      </td>
    </tr>
    <tr>
      <td>
        Phone: 647-456-9015
      </td>
      <td>
        Github: <a href="https://github.com/Robinson7D">Robinson7D</a>
      </td>
    </tr>
  </tbody></table>
</div>
