{{#layout}}
  <img class="me" src="/static/images/me-phone.jpg">
  <div class="name-block about-block">
    Hi, my name's Dylan.
  </div>
  <div class="about-block">
    I'm a software developer whose recent work is mostly web-based. My co-workers tend to consider me a full-stack developer. I generally enjoy building high performance, visual applications. I'm also comfortable scripting, scraping, and writing database queries - indices, aggregates, map/reduce, and window functions don't particularly intimidate me.
  </div>
  <div class="about-block">
    While away from my computer, I like to play guitar, skateboard, and attempt to find/taste new scotches and weissbiers.
  </div>
  <div class="about-block">
    I am currently employed at <a href="https://rise.xyz">Rise</a> as an applications developer on several projects related to HR / People and Culture.
  </div>
{{/layout}}

